.modes{
	&__item{

		width: auto;
		height: auto;
		flex: 1 1 auto;

		display: flex;
		justify-content: center;
		align-items: center;

		background: transparent;
		color: var(--clr-text-black);

		font-size: var(--fs-main);
		font-weight: var(--fw-main);

		padding: 8px 12px;

		svg{
			margin: 0 7px 0 0;
			path{
				stroke: var(--clr-text-black);
			}
		}

		&.available{
			
			background: var(--clr-white);

			border: 2px solid var(--clr-border);
			border-radius: var(--radius-button);
			svg{
				path{
					stroke: var(--clr-blue);
				}
			}

		}

	}
		
}