.calculator{

	&__viewer{
		overflow: hidden;

		min-height: 52px;
		min-width: 52px;
	
		display: flex;
		justify-content: flex-end;
		align-items: center;
	
		padding: 0 8px;
	
		background: var(--clr-grey);
		color: var(--clr-text-black);
	
		font-size: var(--fs-big);
		font-weight: var(--fw-big);
	
		border-radius: var(--radius-button);
	
	}
}